*{
    margin: 0;
    padding: 0;
}
body{
    background-color: green;
}
.display{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display #time{
    font-size: 100px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}